.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202c33;
  padding: 20px;
  border-radius: 10px;
}

.form > * {
  margin: 10px;
}

.input {
  padding: 10px;
}

.error {
  color: red;
}

.button {
  padding: 10px 20px;
  margin-top: 20px;
}
