@media (max-width: 600px) {
  .chatOpened {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .chatClosed {
    display: none;
    display: none;
  }
  .chatClosed > * {
    display: none;
    grid-column: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #0b1319ee 0% 100%), url(../../assets/bg.png);
  overflow: auto;
}

.header {
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #202c33;
  gap: 10px;
  box-shadow: 0 0 5px black;
  z-index: 10;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.avatar {
  width: 50px;
  border-radius: 50%;
  margin: 10px 0px 10px 20px;
}
.nameDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
.name {
  font-size: 20px;
}

.chatId {
  font-size: 14px;
  opacity: 0.5;
}
.backBtn {
  display: none;
}
@media (max-width: 600px) {
  .backBtn {
    width: 20%;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
  }
  .avatar {
    margin: 0;
  }
}

.backBtn:hover {
  background: linear-gradient(90deg, #005c4b 80%, #202c33);
}

.noChat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inputArea {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #202c33;
}

.input {
  flex-grow: 1;
  height: 40px;
  background-color: #2a3942;
  border: none;
  border-radius: 10px;
  margin: 10px;
  color: white;
  padding-left: 20px;
  outline: none;
}

.empty {
  margin: auto;
}

.loader {
  display: flex;
  height: 10px;
}

.messages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  overflow: auto;
}

.message {
  padding: 8px;
  max-width: 70%;
  margin: 12px 36px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 12px -8px black;
}

.messageText {
  word-break: break-all;
}

.outgoing {
  margin-left: auto;
  background-color: #005c4b;
  border-radius: 10px 0 10px 10px;
  align-items: flex-start;
}

.incoming {
  margin-right: auto;
  background-color: #202c33;
  border-radius: 0 10px 10px 10px;
}
.outgoing::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  right: -12px;
  background-color: #005c4b;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.incoming::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: -12px;
  background-color: #202c33;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.time {
  font-size: 11px;
  opacity: 0.5;
  align-self: flex-end;
  margin: 0 -2px -4px 5px;
}

.typeMessage {
  opacity: 0.5;
}

.button {
  background: none;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background: #333;
}
.button:active {
  background: #666;
}

.btnMenu {
  position: relative;
  justify-self: end;
  margin-left: auto;
}
.btnMenuOptions {
  margin-top: 10px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.buttonOption {
  align-self: flex-end;
  margin: 5px;
  padding: 10px;
  background-color: #dbdbdb;
  border: none;
  box-shadow: 0 0 24px 0px black;
  border-radius: 10px;
  z-index: 50;
}
.buttonOption:hover {
  cursor: pointer;
  background-color: #52a092;
}

.opened {
  background-color: #707070;
}

.submit {
  background: none;
  border: none;

  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.submit:hover {
  background-color: #52a092;
}

.submit:disabled {
  background: none;
  opacity: 0.1;
}
