.avatar {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
}

.chatItem {
  display: flex;
  align-items: center;
}

.chatItem:hover {
  background-color: #202c33;
}

.active {
  background-color: #2a3942;
}

.newMsg {
  position: absolute;
  right: 10px;
  background-color: #005c1c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
