.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #111b21;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #111b2100;
}
::-webkit-scrollbar-thumb {
  background-color: #202c33;
  border-radius: 20px;
  border: 2px solid #202c33;
  box-shadow: 0 0 10px black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #005c4b;
  border-radius: 20px;
  border: 0;
}
::-webkit-scrollbar-button:single-button {
  height: 10px;
  background-color: #00000000;
}
