.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBox {
  min-width: 320px;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 24px;
  padding: 20px;
  background-color: #333;
}

.link {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  margin-top: 20px;
}
